<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Kuku" value="Ku,Ku" />
    <add key="FloatNumber" value="12.34" />
    <add key="FloatError" value="asdf12.34" />
    <add key="Bule" value="False" />
    <add key="Kolor" value="Green" />
    <add key="SignatureTotalColor" value="Gray" />
    <add key="SignatureAgreeColor" value="#999999" />
  </appSettings>
</configuration>